/vendor
/composer.lock
.idea
wp-cli.local.yml
.env
.env.*
!.env.example
config/keys.php
auth.json

public/wp
public/.htaccess

public/wp-content/debug.log
public/wp-content/uploads/*
!public/wp-content/uploads/.gitkeep
public/wp-content/plugins/*
public/wp-content/themes/twenty*
public/wp-content/mu-plugins/*
!public/wp-content/mu-plugins/app.php


